@using ISH.Service.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@using ISH.Service.Dtos.Authentication
@model Integrated_Systems_Homework.ViewControllers.Models.ExportTicketsModel
@{
    ViewData["Title"] = "Export tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tickets</h1>

<div>
    <form>
        <div class="row">
            <div class="form-group">
                <div class="col">

                    @Html.DropDownListFor(m => m.SelectedGenre,
                        new SelectList(@Model.Genres),
                        "Select Genre")
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 0.1em">
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-secondary" />
            </div>
            <div style="margin-left: 1em">
                <a asp-controller="Ticket" asp-action="GenerateExcel" asp-route-genre="@Model.SelectedGenre" class="btn btn-danger">Export XLSX</a>
            </div>
        </div>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Seat Number</th>
            <th scope="col">Price</th>
            <th scope="col">View Slot</th>
            <th scope="col">Availability</th>
        </tr>
    </thead>
    <tbody>
        @for (var index = 0; index < Model.Tickets.Count; index++)
        {
            var ticket = Model.Tickets[index];
            <tr>
                <th scope="row">@(index + 1)</th>
                <td>@ticket.SeatNumber</td>
                <td>@ticket.Price $</td>
                <td>@ticket.ViewSlot.MovieName - @ticket.ViewSlot.TimeSlot</td>
                <td>@ticket.TicketStatus.GetDisplay()</td>
            </tr>
        }

    </tbody>
</table>